.hero {
  height: 100vh;
  min-height: 100vh;  /* Ensure it covers the entire screen */
  background: url('../assets/EP-Mount.jpg')no-repeat center center;
  background-size: cover; /* Ensure full-screen scaling */
  display:flex;
  align-items:center;
  color: white;
  position: relative;
  min-width: 100vw;

}

.header {
  background: transparent;
  position: relative;
  z-index: 2;
  min-width: 100%;
}

.header-content {
  max-width: 500px;  /* Allow content to scale for larger screens */
  align-items: center;
  
}

.cta-button {
  margin-top: 20px;
  padding: 15px 40px;
  font-size: 1.1rem;
}

.cta-button:hover {
    background: #2c2c2c;
  }
  

  